@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}
<p>Weight: <input data-bind="value: Weight"></p>
<p>Price: <strong data-bind="text: Price"></strong></p>