@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to Cargo4You</h1>
    <p class="lead">We specialize in shipping small to large packages across the world.</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Create Parcel", "Create", "Parcels")
    </div>
    <div class="col-md-4">
        @Html.ActionLink("View Parcels", "Index", "Parcels")
    </div>
</div>